.panel{
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 2rem 0;
}


.bgCover {
  background: url("https://static-exp1.licdn.com/sc/h/55k1z8997gh8dwtihm11aajyq");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bgPic{
  color: transparent;
  margin: auto;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.profilePic {
  color: transparent;
  width: fit-content;
  margin: auto;
  transition: all 0.3s ease;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.profileInput,.coverInput {
  display: none;
}

.profilePic .imageArea {
  position: absolute;
  object-fit: cover;
  width: 165px;
  height: 165px;
  background-size: cover;
  background-position: center;
  background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png');
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
  border-radius: 100px;
  z-index: 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.iconLabel {
  cursor: pointer;
  height: 165px;
  width: 165px;
}

.coverIconLabel{
  cursor: pointer;
  position: absolute;
}

.bgPic:hover .coverIconLabel{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  z-index: 5;
  color: #fafafa;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 0;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
}

.profilePic:hover .iconLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  z-index: 20;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
}

.profileSpan,.coverSpan {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}

.panelBody{
  margin-top: 1rem;
}

.panelHeading{
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.panelForm{
  margin: 0 2rem;
}

small{
  color: red
}